<nav mat-tab-nav-bar [tabPanel]="tabPanel" [mat-stretch-tabs]="false">
    <a
      mat-tab-link
      routerLink="table"
      routerLinkActive
      #rla1="routerLinkActive"
      [active]="rla1.isActive"
    >
      <mat-icon>list_alt</mat-icon>
      Table
    </a>
    <a
      mat-tab-link
      routerLink="details"
      routerLinkActive
      #rla2="routerLinkActive"
      [active]="rla2.isActive"
    >
      <mat-icon>subject</mat-icon>
      Details
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
