<lib-deco-bg>
  @if(isPublic()) {
    <router-outlet/>
  } @else {
    @if (authStore.isInProgress()) {
      <lib-busy-page />
      } @else { @if (authStore.loginRequired()) {
      <lib-login-page />
      } @else {
      <lib-sk-nav>
        <lib-toolbar>
          <div
            class="group"
            [mat-menu-trigger-for]="menu"
            [class.disabled]="groupsStore.groupsArray().length <= 1"
          >
            <mat-icon>group</mat-icon>
            {{ groupsStore.selectedGroup()?.displayName ?? "No Group" }}
            <mat-icon *ngIf="groupsStore.groupsArray().length > 1"
              >arrow_drop_down</mat-icon
            >
          </div>
          <mat-menu #menu>
            @for(group of groupsStore.groupsArray(); track group.id) {
            <button mat-menu-item (click)="groupsStore.setSelectedGroup(group.id)">
              <mat-icon>group</mat-icon>
              {{ group.displayName }}
            </button>
            }
          </mat-menu>
        </lib-toolbar>
        <lib-nav-bar *ngIf="!hideNavBar()">
          <lib-nav-item caption="Home" page="home" icon="home" />
          <lib-nav-item caption="Guesses" page="guesses" icon="sports_esports" />
          <lib-nav-item caption="Profile" page="profile" icon="face" />
          <lib-nav-item caption="Scores" page="scores" icon="leaderboard" *ngIf="authStore.hasAnyGroups()" />
          <lib-nav-item caption="Info" page="info" icon="contact_support" />
        </lib-nav-bar>
      </lib-sk-nav>
      } }    
  }
</lib-deco-bg>
