<div class="bg">
  @for(img of [store.currentSlide()?.image || '1']; track img) {
    <img [src]="'assets/images/soccer-bg' + img + '.jpg'" alt="Background" @fade/>
  }
</div>

<div class="euro-logo" *ngIf="store.currentSlide()?.topLeft" @flyStart>
  <img src="assets/images/euro.jpg" alt="Euro Logo" />
</div>

@if(store.currentSlide()?.topRight) {
<div class="company-logo" *ngIf="store.group() as group" @flyEnd>
  <img [src]="group.logoUrl" alt="Euro Logo" />
  <div class="slogan">
    @if(group.slogan) {
    {{ group.slogan }}
    } @else {
    {{ group.displayName }}
    }
  </div>
</div>
} @if (store.currentSlide(); as theSlide) { @for(slide of [theSlide]; track
slide.id) {
<app-coming-up
  *ngIf="slide.type === 'coming-up'"
  [matchId]="slide.matchId"
  @flyStartEnd
  class="main-slide"
/>

<app-high-scorer
  *ngIf="slide.type === 'recent-highest-scorers'"
  @flyStartEnd
  class="main-slide"
/>

<app-solo
  *ngIf="slide.type === 'solo'"
  [solo]="slide.solo"
  @flyStartEnd
  class="main-slide"
/>

<app-surprise
  *ngIf="slide.type === 'surprise'"
  [surprise]="slide.surprise"
  @flyStartEnd
  class="main-slide"
/>

<app-top-3 *ngIf="slide.type === 'top-3'" @flyStartEnd class="main-slide" />

<app-now-playing *ngIf="slide.type === 'now-playing'" [matchId]="slide.matchId" @flyStartEnd class="main-slide"/>

<app-match-summary *ngIf="slide.type === 'match-summary'" [matchId]="slide.matchId" @flyStartEnd class="main-slide"/>

<app-countdown *ngIf="slide.type === 'final-countdown'" [matches]="slide.matches" @flyStartEnd class="main-slide"/>

} }

<div class="message" @flyDown *ngIf="store.currentSlide()?.message">
  <div class="text">
    @if(store.group()?.message; as message) {
    {{ message }}
    } @else { Welcome to the {{ store.group()?.displayName }} Euro 2024
    Prediction Game! }
  </div>
</div>
