@use "@angular/material" as mat;
@use "lib-edit" as lib-edit;
@use "snackbar";
@use "lib-common" as lib-common;

@mixin go() {
  @include mat.core();
  @include lib-edit.go();
  @include lib-common.go();
  @include snackbar.go();

  html,
  body {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--b-background);
    color: var(--f-text);
  }

  body {
    display: grid;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
  }

  :root {
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    }

    mat-icon.mat-icon {
      width: auto;
      height: auto;
    }

    --mdc-filled-text-field-label-text-size: 24px;

    input[matinput] {
      font-size: 24px;
    }

    mat-form-field {
      mat-icon[matsuffix] {
        font-size: 32px;
      }
    }
  


  
  }

}
