@mixin go() {     
    mat-icon[libIconButton] {
        --pr-bg: var(--lib-icon-button-background, transparent);
        --pr-color: var(--lib-icon-button-color, var(--a-400));
        --pr-bg-hover: var(--lib-icon-button-background-hover, transparent);
        --pr-color-hover: var(--lib-icon-button-color-hover, var(--a-700));
        --pr-bg-active: var(--lib-icon-button-background-active, transparent);
        --pr-color-active: var(--lib-icon-button-color-active, var(--a-100));
        --pr-bg-disabled: var(--lib-icon-button-background-disabled, transparent);
        --pr-color-disabled: var(--lib-icon-button-color-disabled, var(--n-400));

        background-color: var(--pr-bg);
        border-radius: 50%;
        padding: 2px;
        width: auto;
        height: auto;
        color: var(--pr-color);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: var(--pr-bg-hover);
            color: var(--pr-color-hover);
        }

        &:active {
            background-color: var(--pr-bg-active);
            color: var(--pr-color-active);
        }
        &.disabled {
            background-color: var(--pr-bg-disabled);
            color: var(--pr-color-disabled);
            pointer-events: none;
        }
    }
}