@use "@angular/material" as mat;


$blue: mat.$indigo-palette;
$teal: mat.$teal-palette;
$green: mat.$green-palette;
$red: mat.$red-palette;
$yellow: mat.$lime-palette;
$purple: mat.$deep-purple-palette;
$orange: mat.$deep-orange-palette;
$brown: mat.$brown-palette;
