@use "@angular/material" as mat;


$blue: mat.$indigo-palette;
$green: mat.$green-palette;
$red: mat.$red-palette;
$yellow: mat.$yellow-palette;
$purple: mat.$purple-palette;
$orange: mat.$orange-palette;
$brown: mat.$brown-palette;
$grey: mat.$grey-palette;
