@use "@angular/material" as mat;


$blue: mat.$indigo-palette;
$teal: mat.$teal-palette;
$green: mat.$green-palette;
$red: mat.$red-palette;
$yellow: mat.$lime-palette;
$purple: mat.$deep-purple-palette;
$orange: mat.$deep-orange-palette;
$brown: mat.$brown-palette;


$black: rgba(black, 0.87);
$white: white;


$neutrals: (
    0: #ffffff,
    50: #f9f9f9,
    100: #f3f3f3, 
    200: #eaeaeb,
    300: #d4d5d6,
    400: #999b9c,
    500: #808284,
    600: #56585b,
    700: #393b3e,
    800: #2a2e32,
    900: #212429,
    950: #101214,
    1000: #000000,
  );

  $neutrals-contrast: (
    0: $black,
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    950: $white,
    1000: $white,
  );

  // a palette of shades from #e8f5e9 to #102c10,
  $success: (
    50: #f1f8f2,
    100: #d2e9d4,
    200: #a5d6a7,
    300: #7cc47b,
    400: #5eae5e,
    500: #3f9e3f,
    600: #3a8f3a,
    700: #347f34,
    800: #2e6f2e,
    900: #225022,
    950: #1a3a1a,
    1000: #102c10,
  );

  $success-contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $black,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    950: $white,
    1000: $white,
  );


