:host {
  --mdc-filled-text-field-container-color: transparent;
  --mat-form-field-state-layer-color: transparent;
  display: grid;
  flex: 1;

  sk-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    mat-spinner[matSuffix] {
      padding: 0 12px;
      box-sizing: content-box;
    }

    .valid {
      color: green;
    }
    .invalid {
      color: var(--w-400);
    }
  }
}
