<lib-busy [busy]="busy()" caption="Adding Group...">

  <lib-sk-dialog>
    <sk-dialog-header>New Group</sk-dialog-header>
    <sk-dialog-content [formGroup]="form">
      <mat-form-field>
        <mat-label>Group Identifier</mat-label>
        <input matInput formControlName="groupId" required (blur)="fixId()" />
        <mat-icon matSuffix class="valid" *ngIf="groupId.valid">check</mat-icon>
        <mat-spinner matSuffix [diameter]="32" *ngIf="groupId.pending" />
        <mat-icon
          matSuffix
          class="invalid"
          *ngIf="groupId.errors?.['isIdFree']??false"
          >close</mat-icon
        >

        <mat-error *ngIf="groupId.errors?.['minlength']??false"
          >Please enter at least 5 characters</mat-error
        >
        <mat-error *ngIf="groupId.errors?.['doesNotStartWithLetter']??false"
          >Group Identifier must start with a letter</mat-error
        >
        <mat-error *ngIf="groupId.errors?.['isIdFree']??false"
          >Identifier is already in use</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Group Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-icon matSuffix class="valid" *ngIf="name.valid">check</mat-icon>
      </mat-form-field>

    </sk-dialog-content>
    <sk-dialog-actions 
        okLabel="Create Group" (ok)="ok()" [okDisabled]="!form.valid"
        (cancel)="cancel()"
        />
    </lib-sk-dialog>
</lib-busy>
