<lib-busy
  [busy]="store.isLoading()"
  [caption]="loadCaption()"
  [showContent]="store.groupId() !== ''"
>
  @if(store.group(); as group) {
  <div class="header-area">
    <mat-icon symbol>group</mat-icon>
    <lib-header [level]="1">
      {{ group.displayName }}
    </lib-header>
    <lib-header [level]="2">Admins</lib-header>
  </div>
  <button mat-button class="go-back" [routerLink]="['../']">
    <mat-icon symbol libIconButton>arrow_back</mat-icon>
    <span>Back to group</span>
  </button>

  <lib-edit-list [items]="group.admins" 
    validator="email"
    (added)="store.addAdmin($event)"
    (deleted)="store.removeAdmin(group.admins[$event])"
    >
    <span *libListItem="let admin" class="admin-item">
      <mat-icon symbol>shield_person</mat-icon>
      {{ admin }}
    </span>

  </lib-edit-list>

  }
</lib-busy>
