:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, 5vw, 40px);
}
.card {
    display: flex;
    flex-direction: column;
    margin: 12px 6px;
    padding: 0px;
    padding-bottom: 10px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid var(--p-100);

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--p-300);
        color: var(--pc-300);
        padding: 2px;
    }

    .card-content {
        display: flex;
        align-self: center;
        flex-direction: row;
        padding: 2px;
        justify-content: center;
        align-items: center;
        width: 340px;

        &>* {
            margin: 2px;
        }

        lib-on-off-pending-button {
            position: relative;
            top: 10px;
            font-weight: 500;
            --padding: 2px 2px;
            --selected-bg: var(--a200);
            --selected-border-color: var(--a400);
        }
        
    }


    
}
