:host {
    display: grid;
    lib-on-off-pending-button {
        font-weight: 400;
        width: 3.35em;

        --padding: 3px 3px;
        --selected-bg: var(--a200);
        --selected-border-color: var(--a400);
    }



}