<app-match-base [match]="match()">
  <lib-on-off-pending-button
    [clickWhenOn]="false"
    [value]="guess() === 'home'"
    (change)="setGuess.emit('home')"
  >
    Home
  </lib-on-off-pending-button>
  <lib-on-off-pending-button
    [clickWhenOn]="false"
    [value]="guess() === 'tie'"
    (change)="setGuess.emit('tie')"
  >
    Tie
  </lib-on-off-pending-button>
  <lib-on-off-pending-button
    [clickWhenOn]="false"
    [value]="guess() === 'away'"
    (change)="setGuess.emit('away')"
  >
    Away
  </lib-on-off-pending-button>
</app-match-base>
