rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSuper() {
      return (request.auth != null) && (request.auth.token.role == "super");
    }

    function isGroupMember(groupId) {
      return (request.auth != null) && (request.auth.token.userGroups != null) && (groupId in request.auth.token.userGroups);
    }


    function isUser(userEmail) {
      return (request.auth != null && request.auth.token.email == userEmail);
    }

    function knowsSecret() {
      return (resource.data.keys().hasAll(['secret']));
    }

    allow write: if false;

    match /users/{userEmail} {
      allow read: if isSuper() || isUser(userEmail);
    }

    match /groups/{groupId} {
      allow read: if isSuper() || isGroupMember(groupId) || knowsSecret();
    }

    match /calculated-groups/{groupId} {
      allow read: if isSuper() || isGroupMember(groupId) || knowsSecret();
    }

    match /calculated-group-match-scores/{id} {
      allow read: if isSuper() || isGroupMember(resource.data.groupId) || knowsSecret();   
    }


    match /metadata/{id} {
      allow read: if true;
    }

    match /{document=**} {
    allow read: if false;
    }
  }
}