@if(store.selectedGroup(); as group) {
<div class="group">
  <img [src]="group.logoUrl" altImage="assets/images/logo-placeholder.png" alt="group image" />
  <h1 *ngIf="group.slogan">{{ group.slogan }}</h1>
  <h2 *ngIf="group.message">{{ group.message }}</h2>
</div>
}

@if(store.hasNoGroups()) {
  <div class="no-group">
    <h1>Welcome to You Betcha</h1>
    <h2>
      To play please refer to your group admin for a link to join in the group
    </h2>
  </div>  
}

@if(store.comingUp(); as comingUp) {
  <div class="next">
    <h3>Coming Up!
      <div class="time-remaining">
          <div class="days box">
            <div class="value">{{ comingUp.days }}</div>
            <div class="label">Days</div>
          </div>
          :
          <div class="hours box">
            <div class="value">{{ comingUp.hours }}</div>
            <div class="label">Hrs</div>
          </div>
          :
          <div class="minutes box">
            <div class="value">{{ comingUp.minutes }}</div>
            <div class="label">Mins</div>
          </div>
        </div>    
    </h3>
    <app-future-match *ngFor="let match of comingUp.matches" 
      [match]="match" [guess]="store.guesses()[match.id] || null"
      (setGuess)="store.setGuess(match.id, $event)"
      />
  </div>
  }
