@for(player of top3(); track player.id) {
<div class="player">
  <div class="bar">{{ $index + 1 }}</div>
  <app-player [photoUrl]="player.photoUrl" [displayName]="player.displayName"/>
  <div class="details">
    <div class="points">{{ player.totalPoints | number:'1.0-1' }} Points</div>
    <div class="correct">{{ player.correctCount | number:'1.0-1'}} <mat-icon symbol>done_all</mat-icon> hits</div>
    <div class="solo">{{ player.soloCount | number:'1.0-1'}} <mat-icon symbol>new_releases</mat-icon> solos</div>
  </div>
</div>
}
