<div class="home team">
    <lib-country [name]="match().home" />
  </div>
  
  <div class="match">
    <div class="stage">
      <div class="stage-name">
        {{ match().stageName }}
      </div>
      <div class="points">({{ match().points }} pts)</div>
    </div>
    <div class="main">
        <ng-content/>
    </div>
    <div class="date">
      {{ match().date | date : "MMMM dd, HH:mm" }}
    </div>
  </div>
  <div class="away team">
      <lib-country [name]="match().away" />
  </div>
  