:host {
    h3 {
        color: var(--p-900);
        font-size: 1.5em;
        margin-bottom: 0.5em;
        max-width: 20em;
    }
    div {
        margin-bottom: 1em;
        max-width: 20em;
    }

}