:host {
  font-size: 20px;

  .header-area {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "icon h1"
      "icon h2";

    lib-edit-image {
        grid-area: icon;
        width: 125px;
        height: 125px;
        --lib-edit-border-radius: 10px;
        --lib-edit-border-color: var(--p-700);
        overflow: hidden;
        margin-inline-end: 10px;
    }

    lib-header[h-level="1"] {
      grid-area: h1;
      lib-edit-string {
        flex-grow: 1;
        --lib-edit-max-width: min(500px, calc(100% - 30px));
      }
    }

    lib-header[h-level="2"] {
      grid-area: h2;
      color: var(--n-500);
    }
  }

  .label {
    margin-top: 16px;
    font-size: 0.8em;
    color: var(--n-500);
    display: flex;
    flex-direction: row;
    align-items: center;
}


  .links {
    display: flex;
    flex-direction: column;

    .label {
        mat-icon {
            margin-inline-start: 10px;
            font-size: 16px;
        }
    }

    .value {
        display: flex;
        color: var(--p-700);
    }
  }

  .quota {
    --lib-edit-max-width: min(150px, calc(100% - 30px));
    display: flex;
    flex-direction: column;

    lib-edit-select {
      align-self: flex-start;
    }

    .key-value {
        display: flex;
        flex-direction: row;

        .key {
            color: var(--n-600);
            margin-inline-end: 10px;
        }
    }

    .nav {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin: 10px 0px;
      a {
        text-decoration: none;
        font-size: 18px;
        color: var(--a-400);
      }
    }
  }

  .customize {
    display: flex;
    flex-direction: column;
    lib-edit-select {
      align-self: flex-start;
    }

    lib-edit-image {
      width: 175px;
      height: 175px;
    }
  }
}
