<lib-busy [busy]="store.isLoading()" [caption]="loadCaption()" [showContent]="store.groupId() !== ''">
    @if(store.group(); as group) {
        <lib-header>
            <mat-icon symbol>group</mat-icon>
            <lib-edit-string [value]="group.displayName" (changed)="store.setDisplayName($event)"></lib-edit-string>
        </lib-header>
        <lib-header [level]="2">{{groupId()}}</lib-header>        
    }
</lib-busy>




<!--
    Data: 
        1. Link to Join (copy)
        2. Link to Dashboard (copy)
        

    Super: 
    1. package size, current members count
    2. Block / Unblock
    3. Add Remove Admins

    Customization:
    0. Display Name
    1. Slogan
    2. Message
    3. Logo
    4. Theme




-->
